.hero-heading {
  padding-top: 24px;
  font-size: var(--fs-primary-heading);
  font-weight: 600;
  text-align: center;
  color: #ffffff;
  margin: auto;
}

.hero-paragraph {
  padding: 24px 0;
  font-size: var(--fs-paragragh);
  text-align: center;
  line-height: var(--line-height);
  color: #ffffff;
}

.hero-input {
  position: relative;
}

.hero-input input[type="text"] {
  position: absolute;
  width: 100%;
  border-style: none;
  color: var(--input-color);
  padding: 36px;
  border-radius: 48px;
  background: #ffffff url("../../assets/search-icon.svg") no-repeat 740px;
  font-size: 14px;
  box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2);
}

.hero-input:focus {
  box-shadow: 0 6px 20px 0 rgba(0, 0, 0, 0.19);
  outline: none;
}
