.hero-section {
  z-index: 1;
  margin-bottom: var(--sec-margin-bottom);
  height: 100%;
}

.header {
  background-color: var(--primary-color);
  padding-bottom: 48px;
}

.wave-svg {
  width: 100%;
}

.hero-cards {
  display: flex;
  justify-content: space-between;
  padding: 24px;
  margin: -96px 0 0 0;
}
