.section-four {
  position: relative;
  margin: var(--sec-margin-bottom) 0;
  height: 100%;
}

.section-four-container {
  display: flex;
  align-items: center;
  justify-content: space-between;
}

.section-four-bg {
  z-index: -1;
  background-color: var(--primary-color);
  position: absolute;
  height: 456px;
  width: 85%;
  border-radius: 48px 0 0 48px;
  margin-left: 15%;
  box-shadow: 48px 48px 48px rgba(0, 0, 0, 0.2),
    0 4px 24px 0 rgba(0, 0, 0, 0.19);
}

.section-four-image figure img {
  max-width: 296px;
  margin: 66px 0;
}

.section-four-body {
  color: #ffffff;
  margin: 48px;
}

.section-four-body h1 {
  font-size: var(--fs-ternary-heading);
  font-weight: 900;
  margin-bottom: 32px;
}

.section-four-body p {
  font-size: var(--fs-paragraph);
  line-height: var(--line-height);
}
