.display-cards {
  margin: 24px;
  position: relative;
}

figure.section-one-bg-image img {
  max-width: 152px;
  filter: drop-shadow(24px 24px 24px rgb(0 0 0 / 0.3));
}

.section-one-image-heading {
  top: 24px;
  font-size: var(--fs-quad-heading);
  padding-left: 12px;
  color: #ffffff;
  position: absolute;
  z-index: 1;
}
